// Read more about why we're using @import instead of require at
// http://stackoverflow.com/questions/6269420

// Foundation Overrides
@import "foundation_overrides";

// Pikdaday styles
@import "../../../node_modules/pikaday/css/pikaday.css";

// CalCentral Specific
@import "colors";
@import "base";
@import "buttons";
@import "lists";
@import "selects";
@import "text";
@import "flexbox";
@import "oldie";
@import "containers";
@import "row_collapse_bug";

// Useful
@import "useful";

// Accessibility
@import "accessibility";

// Header
@import "header";
// Top navigation
@import "navigation";
// Sidebar
@import "sidebar";
// Alerts
@import "alerts";
// Footer
@import "footer";

// Logo
@import "logo";
// Icons
@import "icons";
// Widgets
@import "widgets";
// Tables
@import "tables";
// Scrollbars
@import "scrollbars";
// Date Picker
@import "datepicker";
// Act As
@import "act_as";

// Academics
@import "roster";

// Webcasts
@import "webcast";

// Oec
@import "oec";

// Dashboard
@import "google_reminder";

// Canvas external apps
// See also 'roster' above for shared CalCentral/Canvas Roster
@import "canvas_colors";
@import "canvas_base";
@import "canvas_embedded";
@import "canvas_buttons";
@import "canvas_course_add_user";
@import "canvas_course_grade_export";
@import "canvas_course_manage_official_sections";
@import "canvas_create_course_site";
@import "canvas_create_project_site";
@import "canvas_user_provision";
@import "canvas_site_creation";
@import "canvas_site_mailing_list";

@import "profile_bconnected";

// Toolbox
@import "toolbox";

// Splash
@import "splash";

// Status pages: 404/sorry
@import "status";

// Off Canvas
@import "offcanvas";

// Class Page Youtube Videos Styles
@import "youtube_videos";

// Disabled links
@import "disabled_links";

// Print Styles
@import "print";

// ETS-only services
@import "junction";
